{% extends 'base.html' %}
{% load static %}
{% block content %}


{% include 'partials/_menu.html' %}
{% include 'partials/_alerts.html' %}
<link rel="stylesheet" href="{% static 'css/mycss/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/mycss/global.css' %}" />

<div class="container">

    <dialog id="dialogView">
        <div class="text">
            <h3>{{ dieta.nome_dieta }}</h3>
            <p>{{ dieta.dias_semana }}</p>


            <p class="gram">{{ dieta.carbo }} gramas</p>
            <p class="kcal">{{ dieta.calorias }} kcal</p>
        </div>

        <img onclick="closeDialog()" class="close-icon"
                src="{% static 'images/close.svg' %}">

    </dialog>

    <dialog id="dialogUpdate">
        <div class="text">
            <h2 style="color:var(--color-primary);">Deseja editar<br>sua dieta?</h2>
            <p style="margin-top: 20px;">Altere o campo que desejar e depois clique em <span
                    style="color:var(--color-primary);">Salvar</span></p>
        </div>

        <!--COLOCAR FORM AQUI DENTRO-->

        <div class="buttons-dialog">
            <input class="button-background-green dialog-button-specific" type="submit" value="Salvar" />
            <button class="button-border-green dialog-button-specific" onclick="closeDialog()">Cancelar</button>
        </div>

    </dialog>

    <dialog id="dialogDelete">
        <h2 style="color:var(--color-primary);">Deseja excluir<br>sua dieta?</h2>

        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            <div class="cards card-popup">
                <div class="card-inner">
                    <h3>{{ dieta.nome_dieta }}</h3>
                    <p>{{ dieta.dias_semanas }}</p>
                    <img class="" src="{% static 'images/diet-img.svg' %}"></img>

                    <div class="x">
                        <div class="info-text">
                            <p class="gram">{{ dieta.carbo }} gramas</p>
                            <p class="kcal">{{ dieta.calorias }} kcal</p>
                        </div>
                        <img class="" src="{% static 'images/icon-visualization.svg' %}"></img>
                    </div>
                </div>
            </div>

            <div class="buttons-dialog">
                <input class="button-background-green dialog-button-specific" type="submit" value="Sim" />
                <button class="button-border-green dialog-button-specific" onclick="closeDialog()">Não</button>
            </div>

        </form>
    </dialog>


    <div class="panel">

        <div class="text">
            <h1>Olá, {{ user.username }}!<br>É muito bom ver você novamente.</h1>
            <p>Aqui você pode acompanhar suas dietas:</p>
        </div>

        <div class="cards">
            {% for dieta in dietas %}

            <div class="card-external">

                <div class="dropdown">
                    <button onclick="myFunction()" class="dropclick"><img class="menu-icon dropclick"
                            src="{% static 'images/menu-card.svg' %}"></button>

                    <div id="myDropdown" class="dropdown-content">
                        <button onclick="openDialogUpdate()" class="dropclick"><img class="dropdown-icon-edit"
                                src="{% static 'images/edit-icon.svg' %}"></button>

                        <button onclick="openDialogDelete()" class="dropclick"><img class="dropdown-icon-trash"
                                src="{% static 'images/trash-icon.svg' %}"></button>
                    </div>

                </div>

                <div class="card-inner">
                    <h3>{{ dieta.nome_dieta }}</h3>
                    <div class="with-css">
                        <p>{{ dieta.dias_semana }}</p>
                    </div>
                    <img class="" src="{% static 'images/diet-img.svg' %}"></img>

                    <div class="info">
                        <div class="info-text">
                            <p class="gram">{{ dieta.carbo }} gramas</p>
                            <p class="kcal">{{ dieta.calorias }} kcal</p>
                        </div>
                        <button onclick="openDialogView()" class="dropclick"><img
                            src="{% static 'images/icon-visualization.svg' %}"></button>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>

</div>

<script>
    $(document).on('click', ".dropclick", function () {
        $(this).next(".dropdown-content").toggle("show");
    });

    window.onclick = function (event) {
        if (!event.target.matches('.dropclick')) {
            $(".dropdown-content").hide(100);
        }
    }

    /*SCRIPT POP UP*/

    var dialogView = document.querySelector('#dialogView');
    var dialogUpdate = document.querySelector('#dialogUpdate');
    var dialogDelete = document.querySelector('#dialogDelete');

    function openDialogDelete() {
        dialogDelete.showModal();
    }

    function openDialogUpdate() {
        dialogUpdate.showModal();
    }

    function openDialogView() {
        dialogView.showModal();
    }

    function closeDialog() {
        dialogDelete.close();
        dialogUpdate.close();
        dialogView.close();
    }
</script>

{% include "partials/_paginatorProdutos.html" %}
{% endblock %}