{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <div class="container">
                <div class="cards">
                    
                        <div class="card card-two">
        
                            <h3>{{ dieta.nome_dieta }}</h3>
                            <p>{{ dieta.dias_semanas }}</p>
                            <img class="" src="{% static 'images/diet-img.svg' %}"></img>
        
                            <div class="info">
                            <div class="info-text">
                                <p class="gram">{{ dieta.carbo }} gramas</p>
                                <p class="kcal">{{ dieta.calorias }} kcal</p>
                            </div>
                            <img class="" src="{% static 'images/icon-visualization.svg' %}"></img>
                            </div>
        
                        </div>
                </div>
            </div>
        </div>
        <h2 class="text-danger">Deseja Deletar esse item? </h2>
        <input type="submit" value="Sim" />
        <a href="{% url 'index' %}">Cancelar </a>
    </form>
</div>
{% endblock %}