{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}
{% load bootstrap %}
<div class="container">
    <section class="col-6">
        <form method="POST" enctype="multipart/form-data">
    
            <!-- Security token -->
            {% csrf_token %}
    
            <!-- Using the formset -->
            {{ form.media }}
            {{ form|bootstrap }}
            
            <input type="submit" value="Ok" class="btn btn-success mt-2">
        </form>
    </section>
</div>

{% endblock %}