{% extends 'base.html' %}
{% load static %}
{% block content %}
    

    {% include 'partials/_menu.html' %}
    {% include 'partials/_alerts.html' %}

    <div class="container">
    
    
        
        <div class="panel">
            
            <div class="text">
              <h1>Olá, Bem-vindo(a)!<br>É muito bom ver você novamente.</h1>
              <p>Acompanhe suas dietas aqui:</p>
            </div>
            

            <div class="cards">
                {% for dieta in dietas %}
                
                    <div class="card card-two">
    
                        <h3>{{ dieta.nome_dieta }}</h3>
                        <p>{{ dieta.dias_semana }}</p>
                        <img class="" src="{% static 'images/diet-img.svg' %}"></img>
    
                        <div class="info">
                        <div class="info-text">
                            <p class="gram">{{ dieta.carbo }} gramas</p>
                            <p class="kcal">{{ dieta.calorias }} kcal</p>
                        </div>
                        <a href="{%url 'view_dieta' dieta.id%}"><img class="" src="{% static 'images/icon-visualization.svg' %}" ></img></a>
                        </div>
    
                    </div>
                {% endfor %}
            </div>
        </div>
    

        

        <div class="img-home">
            <img class="" src="{% static 'images/woman.png' %}"></img>
        </div>

    </div>

    {% include "partials/_paginatorProdutos.html" %}
{% endblock %}