{% load static %}
    <nav aria-label="Navegação de página exemplo">
        {% if dietas.has_other_pages %}
        <ul class="pagination justify-content-center">
          {% if dietas.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ dietas.previous_page_number }}">Anterior</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link">Anterior</a></li>
          {% endif %} 

          {% for pagina in dietas.paginator.page_range %}
          {% if dietas.number == pagina %}
          <li class="page-item"><a class="page-link">{{ pagina }}</a></li>
          {% else %}
          <li class="page-item active"><a class="page-link" href="?page={{ pagina }}">{{ pagina }}</a></li>
          {% endif %}
          {% endfor %}

          {% if dietas.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ dietas.next_page_number }}">Próximo</a></li>
          {% else %}
          <li class="page-item disabled"><a class="page-link" href="">Proximo</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>